.main-nav {
  @media (max-width: $hd) {
    min-height: 70px;
    flex-basis: 100%;
  }

  @media (min-width: $sm) and (max-width: $tb) {
    min-width: auto;
    position: relative;
    min-height: 50px;
    top: -10px;
    right: -10px;
    background-color: transparent;
  }

  @media (min-width: $tb) and (max-width: $ds) {
    display: block;
    right: -20px;
    min-width: 50px;
    min-height: 50px;
    margin-bottom: 0;
  }

  @media (min-width: $ds) {
    margin-bottom: 219px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $ds) {
      justify-content: space-between;

      border-bottom: 1px solid $basicGray4;
      margin: 0 -12px;
      margin-right: 28px;
      padding-left: 20px;
      padding-right: 23px;
      padding-bottom: 16px;
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: $basicdecor;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    @media (min-width: $ds) {
      display: none;
    }
  }

  &__wrapper {
    @media (min-width: $ds) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 913px;
      margin: 0 auto;
      padding: 26px 40px;
      padding-right: 0;
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $tb) {
      background: none;
      border: none;
    }
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 15px 0 0 $black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1),
    0 16px 0 0 rgba(255, 255, 255, 1);
}

@media (max-width: $ds) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__item--active {
    display: block;
  }

  .main-nav--closed .main-nav__item--active a {
    text-align: center;
  }
}

@media (min-width: $ds) {
  .main-nav--closed .main-nav__item {
    display: block;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  min-height: 80vh;
  min-width: 80vw;
  background-color: $white;

  @media (min-width: $ds) {
    position: static;
    top: 0;
    right: 0;
    z-index: 10;
    min-height: 62px;
    min-width: 100%;
    background-color: transparent;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 62px;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav--nojs .main-nav__item--active a {
  text-align: left;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 6px;
  background-color: transparent;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 7px;
  width: 36px;
  height: 2px;
  background-color: $black;
  opacity: 0.4;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__list {
  min-width: 320px;
  display: grid;
  gap: 33px;
  padding-top: 133px;
  grid-auto-rows: min-content;
  height: min-content;
  padding-bottom: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  @media (min-width: $ds) {
    padding-top: 0;
    min-width: 100%;
    display: flex;
    box-shadow: none;
  }
}

.main-nav--opened .main-nav__item {
  min-width: 320px;

  @media (min-width: $ds) {
    min-width: auto;
  }
}

.main-nav--opened .main-nav__link {
  padding: 18px 0 18px 16px;
  width: inherit;
  position: relative;
  background: $basicGray7;

  @media (min-width: $ds) {
    background: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 24px;
    width: 9px;
    height: 13.5px;
    background-image: url("../img/icons/arrow-next.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $ds) {
      display: none;
    }
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $ds) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    flex-wrap: wrap;
  }
}
