.Mainpage-bike {
  font-size: 10px;
  line-height: 1.15;
  height: 100%;

  &__body {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    overflow-x:hidden;

    @media (min-width: $ds) {
      overflow: auto;
    }
  }

  &__body-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

.main-section {
  flex: 1;
}
