.main-nav {
    width: auto;
    position: relative;
    min-height: 50px;
    @media (min-width: $tb){
      background-color: transparent;
      display: block;
    }
  
    @media (min-width: $ds){
      background-color: transparent;
      display: block;
      min-height: 100px;
      flex-basis: 100%;
      margin-bottom:  256px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width: $ds) {
            justify-content:  space-between;
        }
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: none;
      
        @media (min-width: $tb){
          width: 72px;
          height: 50px;
        }
      
        @media (min-width: $ds){
          display: none;
        }
    }

    &__wrapper {
        @media (min-width: $ds) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0;
            border-bottom: 1px solid $basicGray4;
        }
     }

     &__link {
        position: relative;
        display: block;
        text-decoration: none;
        
        &:hover {
            opacity: .8;
        }

        &:active {
            opacity: .6;
        }

        @media (min-width: $tb) {
            background: none;
            border: none;
        }
     }
  }
  
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 8px;
    width: 36px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1), 0 16px 0 0 rgba(255, 255, 255, 1);
  
    @media (min-width: $tb){
      left: 17px;
    }
  }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 1), 0 16px 0 0 rgba(255, 255, 255, 1);
  }
  @media (max-width: $ds) {
    .main-nav--closed .main-nav__item {
      display: none;
    }
    .main-nav--closed .main-nav__item--active {
      display: block;
    }
    .main-nav--closed .main-nav__item--active a {
      text-align: center;
    }
  }
  
  @media (min-width: $ds) {
    .main-nav--closed .main-nav__item {
      display: block;
    }
  }
  
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    min-height: 80vh;
    min-width:  $sm;
    background-color: $white;
  }
  
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 62px;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    text-align: left;
  }
  
  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: 6px;
    background-color: transparent;
  
    @media (min-width: $tb) {
      width: 60px;
    }
  }
  
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .main-nav--opened .main-nav__list{
    width: 320px;
    display: grid;
    gap: 33px;
    padding-top: 133px;
    grid-auto-rows: min-content;
    height: min-content;
    padding-bottom: 20px;
  }
  
  .main-nav--opened .main-nav__item{
    min-width: 320px;
  }
  
  .main-nav--opened .main-nav__link{
    padding: 18px 0 18px 16px;
    width: inherit;
    position: relative;
  
    &::after{
      content: '';
      position: absolute;
      top: 20px;
      right: 24px;
      width: 9px;
      height: 12.5px;
      background-image: url("../image/icons/arrowRight.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .main-nav--closed .main-nav__list{
    display: none;
  
    @media (min-width: $ds){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        flex-wrap: wrap;
    }
  }
  
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
