.present-company {

    @media (min-width: $ds) {
        flex-basis: 42%;
        padding-left: 52px;
    }

    .logo {
        display:  none;

        @media (min-width: $ds) {
            display: block;
        }
    }
}