.present-company {
  text-align: center;
  padding-top: 100px;
  min-height: 394px;
  margin-bottom: 64px;
  padding-bottom: 50px;
  margin-top: 460px;

  @media (min-width: $tb) {
    margin-bottom: 64px;
    padding-top: 168px;
    margin-top: 221px;
  }

  @media (min-width: $ds) {
    flex-basis: 42%;
    padding-left: 52px;
    margin-top: 154px;
    margin-bottom: 0;
    text-align: left;
  }

  .logo {
    display: none;

    @media (min-width: $ds) {
      display: block;
      width: 73px;
    }
  }

  p {

    font-size: 2rem;
    color: $white;
    line-height: 1.52;
    font-weight: 300;
    margin-top: -4px;

    @media (max-width: $ds) {
      line-height: 1.72;
      padding: 0;
      padding: 0 130px;
      font-size: 1.8rem;
      margin-top: auto;
    }

    @media (max-width: $tb) {
      padding: 0 10px;
    }
  }
}
