.callToAction-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Mainform-calltoAction {
    display: grid;
}

.wrapperMainForm {
    display: flex;
    flex-direction: column;
}