.callToAction-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  flex-wrap: wrap;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 426px;
  min-width: 70%;

  @media (min-width: $tb) {
    top: 399px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 58%;
    text-align: center;
  }

  @media (min-width: $ds) {
    position: static;
    top: auto;
    left: auto;
    transform: translate(0%, 0%);
    text-align: left;
  }

  &__subtitle {
    padding: 0 10px;

    @media (min-width: $tb) {
      padding: 0;
    }
  }
}


.callToAction-sectionForm {
  &__wrapper {
    display: grid;

    @media (max-width: $hd) {
      width: min-content;
      margin: 0 auto;
    }

    input {
      color: $black;
      font-weight: 600;
      border: 1px solid $basicGray8;
      align-self: center;
      padding: 0 23px;
      height: 48px;
      min-width: 286px;
      border-radius: 6px;
      margin-bottom: 20px;
      padding-top: 4px;
      font-size: 1.5rem;

      &::placeholder {
        color: $basicGray2;
        font-size: 1.5rem;
        font-weight: 400;
      }

      &:focus,
      &:hover {
        border: 1px solid $black;
      }

      @media (min-width: $tb) {
        min-width: 320px;
      }

      @media (min-width: $ds) {
        min-width: 327px;
        padding: 6px 28px 0;
      }
    }
  }

  &__username,
  &__phone {
    position: relative;
  }


  &__input-star {
    position: absolute;
    right: 0;
    color: $red;
    display: block;
    top: 14px;
    width: 14px;
    height: 14px;
    font-size: 1.4rem;
  }

  &__btn {
    padding: 0 30px;
    height: 52px;
    border-radius: 6px;
    background-color: $basicdecor;
    border: none;
    min-width: 286px;
    align-self: center;
    cursor: pointer;

    @media (max-width: $tb) {
      padding-bottom: 7px;
    }

    @media (min-width: $tb) and (max-width: $ds) {
      padding-bottom: 0;
    }


    &:hover {
      border: 1px solid $white;
      background-color: aqua;
      transition: 0.3s ease;
    }

    span {
      font-weight: 600;
      color: $black;
      line-height: 1.21;
      font-size: 1.5rem;
    }

    @media (min-width: $tb) {
      min-width: 320px;
    }

    @media (min-width: $ds) {
      min-width: 327px;
    }
  }

  form p {
    font-size: 1.8rem;
    line-height: 1.58;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 19px;

    @media (min-width: $tb) {
      padding: 0 40px;
      margin-bottom: 28px;
    }

    @media (min-width: $ds) {
      padding: 0;
      margin-bottom: 19px;
      font-size: 1.7rem;
      color: $white;
    }
  }

  @media (min-width: $ds) {
    flex-basis: 38.5%;
    padding-right: 52px;
  }
}

.error {
  border: 1px solid $red;
}

.success {
  border: 1px solid $basicdecor;
}
