.facts {
  display: grid;
  justify-items: center;

  @media (max-width: $tb) {
    margin-bottom: 29px;
  }

  @media (min-width: $tb) {
    margin-bottom: 15px;
  }

  @media (min-width: $ds) {
    margin-bottom: 23px;
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $tb) {
      justify-content: center;
    }
  }

  &__item {
    flex-basis: 100%;
    text-align: center;
    padding: 0 10px;
    min-height: 157px;

    @media (min-width: $tb) {
      flex-basis: 39%;
      margin: 0 4px;
    }

    @media (min-width: $ds) {
      flex-basis: 24.3%;
    }

    span {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 2.8rem;
      color: $basicdecor;
      line-height: 0.38;

      @media (min-width: $ds) {
        margin-top: 33px;
      }

      &:nth-child(n+3) {
        margin-top: 36px;
        margin-bottom: 22px;

        @media (min-width: $tb) {
          margin-top: 31px;
          margin-bottom: 28px;
        }
      }
    }

    p {
      font-size: 1.8rem;
      color: $black;
      letter-spacing: -0.5px;
      font-weight: 400;
      line-height: 1.87;

      @media (min-width: $tb) {
        font-size: 2.2rem;
        line-height: 1.57;
      }

      &:nth-child(4n+2) {

        @media (min-width: $tb) and (max-width: $ds) {
          margin-bottom: 53px;
        }

        @media (min-width: $ds) {
          margin-bottom: 127px;
          padding: 0 10px;
        }
      }
    }
  }

  h2 {

    @media (max-width: $hd) {
      margin-bottom: 57px;
    }

    @media (min-width: $sm) and (max-width: $tb) {
      margin-bottom: 51px;
    }

    @media (min-width: $tb) and (max-width: $ds) {
      margin-bottom: 47px;
    }
  }
}
