.facts {
    display: grid;
    justify-items: center;

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        flex-basis: 100%;
        text-align: center;
        padding: 0 10px;
    
        &:first-child {
            margin-bottom: 8px;
        }

        &:nth-child(even) {
            margin-bottom: 26px;
        }
    }

    &__item-count {
        margin-bottom: 35px;

        &:nth-child(2n) {
            margin-bottom: 18px;
        }

        &:last-child {
            margin-bottom: 27px;
        }
    }

    &__item-text {
        letter-spacing: -0.5px;
    }
}

