.mainFooter {
  padding-bottom: 0;

  @media (max-width: $ds) {
    padding-bottom: 20px;
  }

  @media (max-width: $tb) {
    padding-bottom: 0;
  }

  &__wrapper {
    max-width: $ds + 5;
    min-width: $sm;
    margin: 0 auto;
    padding: 0 37px;

    @media (max-width: $tb) {
      padding: 0;
    }
  }

  &__title {
    font-size: 3rem;
    letter-spacing: -0.5px;

    @media (max-width: $ds) {
      font-size: 2.4rem;
      margin-bottom: 22px;
    }

    @media (max-width: $tb) {
      margin-bottom: 27px;
      font-size: 1.8rem;
    }
  }
}

.mainMap-image {
  flex: none;
  object-fit: contain;
  min-width: 100%;
  background: $basicGray1 url("../img/content/Map.jpg");
  min-height: 530px;

  @media (max-width: $ds) {
    min-height: 546px;
    margin-bottom: 17px;
  }

  @media (max-width: $tb) {
    min-height: 252px;
    margin-bottom: 34px;
  }

  iframe {
    min-width: 100%;
    min-height: inherit;
  }
}

.mainFooter-heading {
  text-align: center;
  padding: 0 160px;
  margin-bottom: 44px;

  @media (max-width: $ds) {
    padding: 0;
    margin-bottom: 23px;
  }


  p {
    padding: 0 25px;
    line-height: 1.7;
    font-size: 1.7rem;
    color: $basicGray3;
  }
}

.phone-icon {
  fill: $white;
  stroke: $basicdecor;
  margin-left: -10px;
  width: 22px;
  height: 30px;
}

.email-icon {
  margin-left: 1px;

  @media (max-width: $ds) {
    margin-left: 7px;
  }

  @media (max-width: $tb) {
    margin-left: 23px;
  }
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 768px;
  width: max-content;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 140px;
  word-break: break-all;
  padding-top: 36px;
  padding-bottom: 30px;
  margin: 0 auto;

  @media (max-width: $ds) {
    justify-content: space-between;
    min-height: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 0;
  }

  @media (max-width: $tb) {
    justify-content: center;
    padding-top: 0;
    min-height: 116px;
    margin-top: -6px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .link {
    &:nth-child(2n) {
      margin-left: 20px;

      @media (max-width: $tb) {
        margin-left: 0;
      }
    }
  }
}

.email-link,
.phone-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: baseline;
}

.email-link {
  margin-bottom: 0;
  margin-left: -16px;

  @media (max-width: $tb) {
    margin-bottom: -10px;
    margin-left: -4px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.phone-link {
  margin-top: 0;
  justify-self: end;

  @media (max-width: $tb) {
    margin-top: -6px;
    text-align: center;
    width: 81%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.email-text {
  padding-left: 18px;
  margin-top: 5px;

  @media (max-width: $ds) {
    margin-top: 0;
  }
}

.phone-text {
  padding-left: 17px;

  margin-top: 0;

  @media (max-width: $ds) {
    margin-top: -9px;
  }

  @media (max-width: $tb) {
    margin-top: 0;
  }
}
