.main-header {
  min-height: 390px;
  background: $basicGray7 url("../img/content/Main-bg_Bike.jpg") no-repeat
    top;
  background-size: cover;
  position: relative;
  margin-bottom: 415px;

  @media (min-width: $tb) {
    min-height: 340px;
    background: $basicGray7 url("../img/content/Main-bg_Bike.jpg") no-repeat
      center;
    background-size: cover;
    margin-bottom: 398px;
  }

  @media (min-width: $ds) {
    min-height: 825px;
    max-height: 1020px;
    background: $basicGray7 url("../img/content/Main-bg_Bike.jpg") no-repeat
      top;
    background-size: cover;
    margin-bottom: 122px;
  }

  &__inner {
    display: flex;
    align-items: center;
    min-height: 70px;
    justify-content: space-between;

    @media (min-width: $tb) {
      min-height: 70px;
    }

    @media (min-width: $ds) {
      min-height: 62px;
    }
  }

  &__wrapper {
    @media (min-width: $ds) {
      margin-bottom: 12px;
    }
  }
}
