.main-header {
  min-height: auto;
  margin-bottom: 122px;


  @media (max-width: $ds) {
    margin-bottom: auto;
  }

  @media (max-width: $tb) {
    margin-bottom: 751px;
  }

  &__inner {
    display: flex;
    align-items: center;
    min-height: 62px;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: $ds) {
      min-height: 70px;
      margin-bottom: -210px;
    }
  }

  &__wrapper {
    min-height: 825px;
    background: $basicGray4 url("../img/content/Main-bg_Bike.jpg") no-repeat
    top;
    background-size: cover;
    margin-bottom: -506px;

    @media (max-width: $ds) {
      min-height: 340px;
      background: $basicGray4 url("../img/content/Main-bg_Bike.jpg") no-repeat
        center;
      background-size: cover;
      margin-bottom: 398px;
    }

    @media (max-width: $tb) {
      min-height: 390px;
      background: $basicGray4 url("../img/content/Main-bg_Bike.jpg") no-repeat
        top;
      background-size: cover;
      position: relative;
      margin-bottom: -316px;
    }
  }
}
