.bike-products {
  text-align: center;
  background-color: $basicLightGray;
  padding-top: 121px;
  padding-bottom: 98px;

  @media (max-width: $ds) {
    padding-top: 35px;
    padding-bottom: 18px;
  }

  @media (max-width: $tb) {
    padding-top: 35px;
    padding-bottom: 11px;
  }

  &__title {
    margin-bottom: 46px;

    @media (max-width: $ds) {
      margin-bottom: 32px;
    }
  }
}

.products-bikes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bike-item {
  display: grid;
  justify-items: center;
  margin: 0;
  margin-bottom: 53px;
  padding: 0 24px;

  img {
    width: 342px;

    @media (max-width: $ds) {
      width: 270px;
    }
  }

  @media (max-width: $ds) {
    margin-bottom: 53px;
  }

  @media (max-width: $tb) {
    padding: 0 15px;
    margin-bottom: 45px;
  }

  &__text-wrapper {
    max-width: 342px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $ds) {
      max-width: 272px;
    }

    @media (max-width: $tb) {
    }
  }

  &__subtitle {
    margin-top: 20px;
  }
}

.bike-itemPrev {
  position: relative;
  z-index: 1;
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/decoration/Ellipse.svg");
    z-index: -1;

    width: 180px;
    height: 180px;
    top: 156px;
    left: -38px;

    @media (max-width: $ds) {
      width: 127px;
      height: 127px;
      top: 202px;
      left: -14px;
    }

    @media (max-width: $tb) {
      top: 203px;
      left: -11px;
    }
  }

  @media (max-width: $ds) {
    margin-top: 0;
  }
}

.bike-itemMain {
  align-self: flex-start;
  position: relative;
  margin-top: 39px;

  @media (max-width: $ds) {
    margin-top: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    z-index: 1;
    background-image: url("../img/decoration/Rectangle.svg");
    display: block;


    @media (max-width: $ds) {
      display: none;
    }
  }

  &::before {
    top: -18px;
    left: 5px;

    @media (max-width: $ds) {
      top: -17px;
      left: -18px;
    }
  }

  &::after {
    top: 542px;
    left: 342px;

    @media (max-width: $ds) {
      top: 538px;
      left: 311px;
    }
  }
}

.bike-itemNext {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/decoration/Ellipse.svg");
    z-index: 1;
    width: 95px;
    height: 95px;
    top: -33px;
    left: 309px;

    @media (max-width: $ds) {
      width: 68px;
      height: 68px;
      top: -20px;
      left: 251px;
    }

    @media (max-width: $tb) {
      top: -22px;
      left: 231px;
    }
  }
}
