.videoBike {
  background: linear-gradient(to bottom, $basicGray9 88%, $bodybg 13%);
  min-height: 300px;
  margin-bottom: 70px;

  &__wrapper {
    padding: 63px 15px 0;
    text-align: center;

    @media (min-width: $tb) {
      padding: 50px 150px 0;
      margin-bottom: 49px;
    }

    @media (min-width: $ds) {
      padding: 92px 315px 0;
      margin-bottom: 63px;
    }
  }

  &__image-wrapper {
    min-width: 100%;
    position: relative;
    margin-top: 52px;

    @media (min-width: $tb) {
      margin-top: -10px;
    }
  }

  &__image {
    min-width: 100%;
  }

  &__btn {
    position: absolute;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background-color: $basicdecor;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid $white;
      background-color: aqua;
      transition: 0.3s ease;
    }

    @media (min-width: $tb) {
      width: 91px;
      height: 91px;
    }

    @media (min-width: $ds) {
      width: 66px;
      height: 66px;
    }
  }

  &__btn-img {
    @media (min-width: $tb) {
      height: 27px;
      margin-left: 7px;
    }
  }

  &__title {
    @media (min-width: $ds) {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    line-height: 1.76;
  }

  &__video {
    padding: 0 15px;

    @media (min-width: $tb) {
      padding: 0 132px;
    }

    @media (min-width: $ds) {
      padding: 0 47px;
    }
  }

  @media (min-width: $tb) {
    background: linear-gradient(to bottom, $basicGray9 82%, $bodybg 13%);
    margin-bottom: 65px;
  }

  @media (min-width: $ds) {
    background: linear-gradient(to bottom, $basicGray9 87.5%, $bodybg 13%);
    margin-bottom: 147px;
  }
}
